# type definitions
*.d.ts
**/*.d.ts

# compiled output
dist/**
public/**
coverage/**
tmp
.tmp

# dependencies
**/node_modules/**

# build configs
scripts/**
webpack/**
webpack*.js

# tooling configs
.eslintrc.cjs
jest.config.cjs

# other
example
benchmarks
