/**
 * Colors
 */
$primary-dark-color: #111111;
$primary-light-color: #F7F7F8;
$muted-light-color: #B9B7BE;
$body-background-color: #ffffff;

/**
 * Screens
 */
$screen-sm: 480px;
$screen-md: 680px;
$screen-lg: 920px;
$screen-xlg: 1200px;
