// Colors
$color-light: #fdf1d0;

$color-gray: #9ba0b3;
$color-medium-gray: #565760;
$color-dark-gray: #26272c;

$color-medium-dark: #1f2128;
$color-dark: #16171d;

$color-medium-accent: #cbaa3b;
$color-selection: hsl(208deg 49% 54% / 67%);

// Font size
$font-size-xsm: .8rem;
$font-size-sm: 1rem;
$font-size-base: 1.2rem;
$font-size-md: 2rem;
$font-size-lg: 2.325rem;
$font-size-xlg: 4rem;

// Screen
$screen-sm: 480px;
$screen-md: 680px;
$screen-lg: 920px;
$screen-xlg: 1200px;
