/**
 * Colors
 */
// Light
$color-light: #fdf1d0;

// Gray
$color-gray: #9ba0b3;
$color-medium-gray: #565760;
$color-dark-gray: #26272c;

// Dark
$color-medium-dark: #1f2128;
$color-dark: #16171d;

// Accent
$color-medium-accent: #85791f;

/**
 * Screens
 */
$screen-sm: 480px;
$screen-md: 680px;
$screen-lg: 920px;
$screen-xlg: 1200px;
