@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  max-width: 80vw;
  margin: 4rem auto;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  color: $primary-dark-color;
  background-color: $body-background-color;

  @media all and (min-width: $screen-sm) {
    & {
      max-width: 88vw;
    }
  }

  @media all and (min-width: $screen-md) {
    & {
      max-width: 76vw;
    }
  }

  @media all and (min-width: $screen-lg) {
    & {
      max-width: 68vw;
    }
  }
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.5rem;
}

.page-title {
  margin-bottom: 2rem;
}

header {
  margin-bottom: 1rem;
}

article {
  margin-bottom: 3rem;
}

.search-input {
  input {
    width: 100%;
  }

  input {
    &::placeholder {
      opacity: 0.75;
    }

    padding: 1rem;
    font-size: 96%;
    line-height: 1.15;
    border: 2px solid #a8a8af;
    border-radius: 3px;
  }
}

.search-stats,
.search-results {
  padding: 0.125rem 0.325rem;
}

.search-stats {
  &:empty {
    display: none;
  }

  margin: .5rem 0 0 0;
  font-size: .75rem;
  font-family: monospace;
  color: #464646;
}

.search-results {
  &:empty {
    display: none;
  }
}
