@import 'variables';
@import 'helpers';

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $color-selection;
  text-shadow: none;
}

html {
  overflow-x: hidden;
  font-size: 100%;
  background-color: $color-dark;
}

body {
  margin: 0;
  color: $color-light;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: $font-size-base;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 0.01em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1;
  letter-spacing: -.5px;
}

h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: $font-size-xlg;
  letter-spacing: -0.02em;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  margin-bottom: 1rem;
  font-size: $font-size-md;
  letter-spacing: -.5px;
}

.page {
  position: relative;
  max-width: 92vw;
  padding-top: 6rem;

  @media screen and (max-width: $screen-sm) {
    & {
      padding-top: 2.5rem;
    }

    .page-title {
      margin-bottom: 3.5rem;
      padding-top: 3.5rem;
      font-size: 2.645rem;
    }

    .search-results {
      article {
        padding: 1.645rem;
      }

      h2 {
        font-size: 1.825rem;
      }
    }
  }

  @media all and (min-width: $screen-md) {
    & {
      max-width: 80vw;
      padding-top: 9rem;
    }

    header {
      min-width: 80vw;
    }
  }

  @media all and (min-width: $screen-lg) {
    & {
      max-width: 68vw;
    }

    header {
      min-width: 68vw;
    }
  }
}

.page-title {
  margin: 2.125rem 2.5rem 2rem 1.5rem;
  margin-bottom: 4rem;

  span {
    text-shadow: 0 0 3px hsl(231deg 9% 15% / 20%);
  }
}

header {
  margin-bottom: 3.5rem;
  position: relative;
  min-width: 92vw;
}

.main-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: -258px;
  width: 492px;
  z-index: -1;
  overflow: hidden;
  opacity: .9;

  svg {
    height: 100%;
  }

  @media all and (max-width: $screen-md) {
    top: -212px;
    width: 396px;
  }

  @media all and (max-width: $screen-sm) {
    top: -196px;
    width: 360px;
  }
}

.search-input {
  position: relative;
  display: flex;
  padding: 0;
  border: 2.5px solid $color-medium-gray;
  border-radius: 6px;
  background: $color-medium-dark;
  box-shadow: 0 0px 6px rgb(59 58 80 / 67%);
  transition: border-color 0.13s ease-in, box-shadow 0.13s ease-in;

  &:focus,
  &:hover {
    box-shadow: 0 0px 6px rgb(92 91 113 / 66%);
  }

  input {
    outline: none;
    border-radius: inherit;
    border: none;
    width: 100%;
    padding: 1.25rem;
    color: $color-gray;
    font-size: 1.1rem;
    line-height: 1.15;
    background: none;
    height: fit-content;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }

  .btn-clear {
    width: 22px;
    padding-right: 2.325rem;
    padding-left: 0.925rem;
    opacity: 0.7;
  }
}

.search-stats {
  margin-top: 1.25rem;

  &:empty {
    display: none;
  }
}

.search-results {
  &:empty {
    display: none;
  }

  h2 span {
    border-bottom: 3px solid $color-primary-accent;
    padding-bottom: 0.4rem;
    line-height: 1.6;
  }

  article,
  .no-results {
    margin-bottom: 2.5rem;
    border: 1px solid $color-dark-gray;
    border-radius: 6px;
    background: $color-medium-dark;
    box-shadow: 0 0px 5px rgb(30 32 38 / 50%);
  }

  article {
    padding: 2rem;

    @media all and (max-width: $screen-sm) {
      p:nth-of-type(1) {
        overflow: hidden;
        @include line-clamp;
      }
    }

    p:nth-of-type(1)~p {
      display: none;
    }

    p:last-child {
      margin-bottom: 0;
    }

    &.expanded p {
      display: block !important;
    }
  }

  .no-results {
    margin-bottom: 2rem;
    padding: 3.5rem;
    border-radius: 6px;
    font-size: 1.1rem;
  }

  .query-suggestions {
    p:nth-of-type(1) {
      display: inline-block;
      border-bottom: 1px solid $color-medium-gray;
      padding-bottom: 4px;
      font-weight: 300;
    }

    li {
      margin-bottom: 0.8rem;
      opacity: .95;
    }
  }

  .see-more {
    opacity: .8;
    transition: opacity 0.2s ease-in;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
